{% extends 'layout.html' %}

{% block main %}




<div class="col-md-12">
<div class="panel panel-info">
	<div class="panel-heading">
		<b>Expenses</b>  <a href="/costs/create" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> Add New Expense</a>
		  <div class="clearfix"></div>
	</div>
	<div class="panel-body">
		
{% if expenses %}

	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>SL.</th>
				<th>Date</th>
				<th>Total Expense</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
		{% set i=1 %}
{% for expense in expenses %}

			<tr>
				<td>{{i}}</td>
				<td>{{expense._id}}</td>
				<td>{{expense.total}} <b>BDT</b></td>
				<td>
				{% set date =expense._id|replace('/','-') %}
				<a href="/costs/details/{{date}}" title="Details View" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
					<a href="/costs/delete/{{ date }}" title="Delete" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
					<a href="/costs/edit/{{ date }}"  title="Edit" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
				</td>
			</tr>
			
			</tr>
			{% set i=i+1 %}
	{% endfor  %}

		</tbody>
	</table>
	{% endif  %}
	</div>
</div>
</div>
	
</div>

{% endblock main %}